footer {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3%;
}

.foot-logo {
    width: 8%;
    margin-top: -8px;
}

.foot-logo img {
    width: 100%;
}

.copyright {
    color: white;
}